%h1
  = I18n.t(:books_title) + ' - ' + I18n.t(:add_new)

= form_for @book, url: {action: 'create'} do |f|
  .formgroup
    = f.label I18n.t(:title)
    = f.text_field :title,
                   MinLength: 4,
                   MaxLength: 100,
                   required: true

  .formgroup
    = f.label I18n.t(:abstract)
    = f.text_area :abstract,
                   MaxLength: 250,
                   rows: 5,
                   columns: 100
  .formgroup
    = f.label I18n.t(:file)
    = f.file_field :file